@font-face {
    font-family: College Star Full LoveSVG;
    src: url(./fonts/College_Star_Full_LoveSVG.ttf);
}

@font-face {
    font-family: Delight Candles;
    src: url(./fonts/Delight_Candles.ttf);
}

body {
    background: #8f2d56; 
    background-image: url(./images/cookie-bullet.svg);
}

div.header {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background:linear-gradient(top, #218380 0%, #2f3c58 100%);
    background:-webkit-linear-gradient(top, #218380 0%, #2f3c58 100%);
    border: 2px solid #222;  
    border-radius: 50px;
    padding: 20px;
    margin-top: 50px;
    width: 90%;
}

p.header {
    margin: 0;
    padding: 0;
}

#title {
    font-family: College Star Full LoveSVG;
    color: #e6cca3;
    font-size: 4em;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;

}
#subtitle {
    color: #fdb84a;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
    font-family: Delight Candles;
}

#progress-bar {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

#cookie-monster {
    height: 120px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.377));
    /* margin-left is defined in html so we can access it in js ... */
}

.win-wiggle {
    animation-name: winWiggle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.forward-wiggle {
    animation-name: forwardWiggle;
    animation-duration: 4s;
}
.backward-wiggle {
    animation-name: backwardWiggle;
    animation-duration: 4s;
}
/* animation */
@keyframes winWiggle {
    0% {-webkit-transform: rotate(0deg);}
    7% {-webkit-transform: rotate(-4deg);}
    14% {-webkit-transform: rotate(4deg);}
    21% {-webkit-transform: rotate(0deg);}
    28% {-webkit-transform: rotate(-4deg);}
    35% {-webkit-transform: rotate(4deg);}
    42% {-webkit-transform: rotate(0deg);}
    49% {-webkit-transform: rotate(-4deg);}
    56% {-webkit-transform: rotate(4deg);}
    63% {-webkit-transform: rotate(0deg);}
    70% {-webkit-transform: rotate(-4deg);}
    77% {-webkit-transform: rotate(4deg);}
    84% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@keyframes forwardWiggle {
    0% {-webkit-transform: rotate(0deg);}
    1.5% {-webkit-transform: rotate(5deg);}
    2.5% {-webkit-transform: rotate(10deg);}
    4% {-webkit-transform: rotate(15deg);}
    5.5% {-webkit-transform: rotate(20deg);}
    7% {-webkit-transform: rotate(20deg);}
    9% {-webkit-transform: rotate(20deg);}
    10.5% {-webkit-transform: rotate(-4deg);}
    11.5% {-webkit-transform: rotate(4deg);}
    13% {-webkit-transform: rotate(0deg);}
    14.5% {-webkit-transform: rotate(-4deg);}
    16% {-webkit-transform: rotate(4deg);}
    18% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@keyframes backwardWiggle {
    0% {-webkit-transform: rotate(0deg);}
    1.5% {-webkit-transform: rotate(-5deg);}
    2.5% {-webkit-transform: rotate(-10deg);}
    4% {-webkit-transform: rotate(-15deg);}
    5.5% {-webkit-transform: rotate(-20deg);}
    7% {-webkit-transform: rotate(-20deg);}
    9% {-webkit-transform: rotate(-20deg);}
    10.5% {-webkit-transform: rotate(-4deg);}
    11.5% {-webkit-transform: rotate(4deg);}
    13% {-webkit-transform: rotate(0deg);}
    14.5% {-webkit-transform: rotate(-4deg);}
    16% {-webkit-transform: rotate(4deg);}
    18% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}

@keyframes backwardWiggle {
    0% {-webkit-transform: rotate(0deg);}
    1.5% {-webkit-transform: rotate(-5deg);}
    2.5% {-webkit-transform: rotate(-10deg);}
    4% {-webkit-transform: rotate(-15deg);}
    5.5% {-webkit-transform: rotate(-20deg);}
    7% {-webkit-transform: rotate(-20deg);}
    9% {-webkit-transform: rotate(-20deg);}
    10.5% {-webkit-transform: rotate(-4deg);}
    11.5% {-webkit-transform: rotate(4deg);}
    13% {-webkit-transform: rotate(0deg);}
    14.5% {-webkit-transform: rotate(-4deg);}
    16% {-webkit-transform: rotate(4deg);}
    18% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}

#cookies {
    height: 110px;
    float: right;
    margin-top: -80px;
}

#ground {
    width: 90%;
    height: 20px;
    background-color: #73d2de;
    margin-top: -60px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    background:linear-gradient(top, #73d2de 0%, #218380 50%);
    background:-webkit-linear-gradient(top, #73d2de 0%, #218380 50%);
}

.space-above {
    margin-top: 50px;
}

#trivia-board {
    border-radius: 10px;
    text-align: center;
    background-color: #222;
    width: 75%;
    margin: auto;
    box-shadow: 0 0 20px black;
}

.cell {
    background-color: #73d2de;
    border-radius: 4px;
    padding: 10px 25px;
    text-align: center;
    font-family: College Star Full LoveSVG;
    font-size: 2em;
    color: #fdb84a;
    border-collapse: collapse;
    background:linear-gradient(top, #73d2de 0%, #218380 50%);
    background:-webkit-linear-gradient(top, #73d2de 0%, #218380 50%);
    text-shadow: 2px 2px 4px #000000;
}

.category {
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    color: #e6cca3;
    font-family: College Star Full LoveSVG;
    font-size: 2em;
    border-collapse: collapse;
    background:linear-gradient(top, #218380 0%, #2f3c58 100%);
    background:-webkit-linear-gradient(top, #218380 0%, #2f3c58 100%);
    text-shadow: 2px 2px 4px #000000;
}

.cell:hover {
    box-shadow: inset 1px 1px 150px whitesmoke;
    cursor: pointer;
}

#wrap-question {
    position: relative;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #3eadf7;
    border-collapse: collapse;
    background:linear-gradient(top, #73d2de 0%, #218380 50%);
    background:-webkit-linear-gradient(top, #73d2de 0%, #218380 50%);
    border-radius: 5px;
    box-shadow: #000000;
    color:rgba(255, 255, 255, 0.925);
    display: block;
    margin: auto;
}

div#question {
    font-size: 20px;
    font-family: Delight Candles;
    padding: 20px;
}

button#submit.submit {
    font-size: 15px;
    font-family: Delight Candles;
    border-radius: 10px;
    background-color: #d81159;
    color: rgb(226, 202, 202);
}

button.try-again {
    font-size: 15px;
    font-family: Delight Candles;
    border-radius: 10px;
    background-color: #d81159;
    color: rgb(226, 202, 202);
}


#question {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.445);
}


#answer {
    height: 38px;
    width: 45%;
    padding: 0px 7px;
    border: 1px solid #456377;
    background-color: rgba(240, 247, 250, 0.932);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.445);
}

#monster-win {
    height: 200px;
    margin: auto;
}


div.cheat-code {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #e6cca3;
    opacity: 0.9;
    text-align: center;
    width: 75%;
    border-radius: 5px;
    color: rgb(56, 48, 36, 80%);
}

div#view-instructions{
    text-align: center;
}

button#instructions-button {
    background-color: #73d2de;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 12px;
    box-shadow: 0 0 20px 5px #218380 inset;
    -webkit-box-shadow: 0 0 20px 5px #218380 inset;
    font-family: Delight Candles;
}

button#instructions-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px white;
    cursor: pointer;
}

/* WELCOME PAGE CSS */
#wrap-main {
    z-index: -1;
    display: none;
} 


body.welcome {
    background: #8f2d56; 
    background-image: url(cookie-bullet.svg);  
}

#wrap-welcome {
    background: #8f2d56;
    box-shadow: inset 0 0 20px black;
    border: 3px solid #218380; 
    text-align: center;
    color: #fdb84a;    
    width: 60%;
    border-radius: 10%;
    padding: 50px;
    top: 50%;
    margin-left: 16.5%;
    transform: translateY(-50%); 
    position: absolute;
    display: block;
}

h1.welcome {
    text-shadow: 5px 5px 4px #000000;
    font-size: 3em;
    font-family: College Star Full LoveSVG;
    margin: 0;
}

h3.welcome {
    text-shadow: 2px 2px 4px #000000;
    font-family: Delight Candles;
    margin: 0;
}

h4.welcome {
    border-bottom: 1px solid white;
    padding: 5px;
    color: whitesmoke;
    margin-bottom: 0;
    font-size: 1.5em;
    font-family: College Star Full LoveSVG;
}

li.welcome {
    list-style-type: none;
    color: whitesmoke;
    font-family: Delight Candles;
}

#cookie-bullet.welcome {
    width: 2em;
    box-shadow: 0 0 0px;
    margin-right: 4px;
    margin-bottom: -15px;
    padding: 5px;
} 


button.welcome {
    background-color: #73d2de;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 1.5em;
    box-shadow: 0 0 20px 5px #218380 inset;
    -webkit-box-shadow: 0 0 20px 5px #218380 inset;
    font-family: Delight Candles;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px white;
    cursor: pointer;
}


img#monster-win {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px white;
    display: block;
    height: 60%;
    width: height;
}




