/* #wrap-board {
    text-align: center;
} */

#trivia-board {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    width: 75%;
    /* display: inline-block; */
}

.cell {
    background-color: #3eadf7;
    border: 2px solid black;
    border-radius: 4px;
    padding: 15px 0px 15px 0px;
    text-align: center;
}

.category {
    background-color: #3eadf7;
    border: 2px solid black;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    color: rgb(220, 240, 253);
}