#trivia-board {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    width: 75%;
}

.cell {
    background-color: #3eadf7;
    border-radius: 4px;
    padding: 15px 0px 15px 0px;
    text-align: center;
    font-family: Impact;
    font-size: 2em;
    color: rgb(250, 250, 92);
    border-collapse: collapse;
    background:linear-gradient(top, #3eadf7 0%, #2f3c58 100%);
    background:-webkit-linear-gradient(top, #3eadf7 0%, #2f3c58 100%);
    text-shadow: 2px 2px 4px #000000;
    
}

.category {
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    color: #e5f4fd;
    font-family: Impact;
    font-size: 2em;
    border-collapse: collapse;
    background:linear-gradient(top, #3eadf7 0%, #2f3c58 100%);
    background:-webkit-linear-gradient(top, #3eadf7 0%, #2f3c58 100%);
    text-shadow: 2px 2px 4px #000000;
}

.cell:hover {
    box-shadow: inset 1px 1px 150px whitesmoke;
    cursor: pointer;
  }


