body {
    background: #8f2d56; 
    background-image: url(./images/cookie-bullet.svg);
}

div.header {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background:linear-gradient(top, #218380 0%, #2f3c58 100%);
    background:-webkit-linear-gradient(top, #218380 0%, #2f3c58 100%);
    border: 2px solid #d81159;  
    border-radius: 50px;
    padding: 20px;
    margin-top: 50px;
    width: 90%;
}

p.header {
    margin: 0;
    padding: 0;
}

#title {
    font-family: Impact;
    color: #e6cca3;
    font-size: 4em;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;

}
#subtitle {
    color: #fdb84a;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
}

#progress-bar {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

#cookie-monster {
    height: 120px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.377));
    /* margin-left is defined in html so we can access it in js ... */
}

#cookies {
    height: 110px;
    float: right;
    margin-top: -80px;
    /* shadow on cookies? */
}

#ground {
    width: 90%;
    height: 20px;
    background-color: #73d2de;
    margin-top: -60px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    /* border: 2px solid #8f2d56; */
    background:linear-gradient(top, #73d2de 0%, #218380 50%);
    background:-webkit-linear-gradient(top, #73d2de 0%, #218380 50%);
}

.space-above {
    margin-top: 50px;
}

#trivia-board {
    /* border: 2px solid #218380;  */
    border-radius: 10px;
    text-align: center;
    background-color: #d81159;
    width: 75%;
    margin: auto;
    box-shadow: 0 0 20px black;

}

.cell {
    background-color: #73d2de;
    border-radius: 4px;
    padding: 10px 25px;
    text-align: center;
    font-family: Impact;
    font-size: 2em;
    color: #fdb84a;
    border-collapse: collapse;
    background:linear-gradient(top, #73d2de 0%, #218380 50%);
    background:-webkit-linear-gradient(top, #73d2de 0%, #218380 50%);
    text-shadow: 2px 2px 4px #000000;
}

.category {
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    color: #e6cca3;
    font-family: Impact;
    font-size: 2em;
    border-collapse: collapse;
    background:linear-gradient(top, #218380 0%, #2f3c58 100%);
    background:-webkit-linear-gradient(top, #218380 0%, #2f3c58 100%);
    text-shadow: 2px 2px 4px #000000;
}

.cell:hover {
    box-shadow: inset 1px 1px 150px whitesmoke;
    cursor: pointer;
}

#wrap-question {
    text-align: center;
    margin-top: 4px;
    padding-top: 50px;
    padding-bottom: 40px;
    /* background-color: #d6bc84; */
    background-color: #3eadf7;
    border-collapse: collapse;
    background: linear-gradient(top, #3eadf7 0%, #266a97 100%);
    background:-webkit-linear-gradient(top, #3eadf7 0%, #266a97 100%);
    border-radius: 5px;
    box-shadow: #000000;
    color:rgba(255, 255, 255, 0.925);
    /* visibility: hidden; */
}

#wrap-cookie-bite {
    display: inline;
    float: right;
}

#circle1 {
  width: 50px;
  height: 50px;
  background: #b2daf5;
  border-radius: 50%;
  position: relative;
  margin-top: -57px;
  margin-right: -5px;
}

#circle2 {
    width: 30px;
    height: 20px;
    background: #b2daf5;
    border-radius: 50%;
    position: relative;
    margin-top: -47px;
    margin-right: 0px;
    margin-left: -5px;
}

#circle3 {
    width: 25px;
    height: 30px;
    background: #b2daf5;
    border-radius: 50%;
    position: relative;
    margin-top: 0px;
    margin-right: -60px;
    margin-left: 30px;
}


#question {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.445);
}


#answer {
    height: 38px;
    width: 45%;
    padding: 0px 7px;
    border: 1px solid #456377;
    background-color: rgba(240, 247, 250, 0.932);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.445);
}


#submit {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    background-color:#8ab6d3;
    border: none;
    color: #344b5a;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.445);
    margin-left: 10px;
    border-radius: 2px;
}

#submit:hover {
    background-color:#92c5e7;
}

div.cheat-code {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #e6cca3;
    opacity: 0.9;
    text-align: center;
    width: 70%;
    border-radius: 5px;
}